# Исследование надежности заемщиков

Нужно проверить гипотезы для построения модели кредитного скоринга в кредитном отделе банка:
1. Количество детей клиента влияет на факт погашения кредита в срок.
2. Семейное положение клиента влияет на факт погашения кредита в срок.
3. Доход клиента влияет на факт погашения кредита в срок.
4. Цель кредита влияет на факт погашения кредита в срок.

В выводах будут приведены расчеты из релевантной выборки в % доле.

Входные данные от банка — статистика о платёжеспособности клиентов.

**Описание данных:**
- children — количество детей в семье
- days_employed — общий трудовой стаж в днях
- dob_years — возраст клиента в годах
- education — уровень образования клиента
- education_id — идентификатор уровня образования
- family_status — семейное положение
- family_status_id — идентификатор семейного положения
- gender — пол клиента
- income_type — тип занятости
- debt — имел ли задолженность по возврату кредитов
- total_income — ежемесячный доход
- purpose — цель получения кредита

## Информация о данных и импорт библиотек

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('D:\Data\data.csv')

data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Работа с пропусками

In [15]:
data.isna().sum() #пропуски NaN в data

children               0
days_employed       2162
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income           0
purpose                0
dtype: int64

In [10]:
# Заполнение пропусков total income медианой по income_type:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Работа с аномалиями

In [11]:
# Работа с аномалиями в столбце days_employed:
data['days_employed'] = data['days_employed'].abs()

In [18]:
# Медиана days_employed по income_type:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.137274
компаньон            1555.947387
пенсионер          365286.622650
предприниматель       520.848083
сотрудник            1572.328285
студент               578.751554
Name: days_employed, dtype: float64

In [13]:
data['children'].unique() #уникальные значения children

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

In [14]:
# Работа с аномалиями в столбце children:
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [16]:
data['children'].unique() #проверка

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков

In [19]:
# Заполнение пропусков days_employed медианой по income_type:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [20]:
data.isna().sum() #проверка

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типа данных

In [28]:
data['total_income'] = data['total_income'].astype(int) #замена типа данных

### Обработка дубликатов

In [29]:
data['education'] = data['education'].str.lower() #изменение регистра education

data.duplicated().sum() #количество дубликатов в data

0

In [30]:
data = data.drop_duplicates() #удаление дубликатов

### Категоризация данных

In [31]:
def categorize_income(income): #функция для категоризации по income
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [33]:
data['total_income_category'] = data['total_income'].apply(categorize_income) #применение функции

In [40]:
data['total_income_category'].value_counts() #проверка

C    15921
B     5014
D      349
A       25
E       22
Name: total_income_category, dtype: int64

In [35]:
data['purpose'].unique() # уникальные значения purpose

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

In [37]:
def categorize_purpose(row): #функция по категоризации purpose
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [38]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose) #применение функции

In [41]:
data['purpose_category'].value_counts() #проверка

операции с недвижимостью    10751
операции с автомобилем       4279
получение образования        3988
проведение свадьбы           2313
Name: purpose_category, dtype: int64

## Исследование данных

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [43]:
print(data['debt'].unique()) # сколько уникальных значений у столбца "debt"
# 0 - не было задолженностей, 1 - были

# создание сводной таблицы по количеству детей и доле задолженности:
data_pivot_children = data.pivot_table(index='children', values='debt', aggfunc=['sum','count','mean']).reset_index().droplevel(1, axis=1)
data_pivot_children['mean'] *= 100

data_pivot_children

[0 1]

   children   sum  count      mean
0         0  1063  14091  7.543822
1         1   444   4808  9.234609
2         2   194   2052  9.454191
3         3    27    330  8.181818
4         4     4     41  9.756098
5         5     0      9  0.000000

**Вывод:** Люди, которые не имеют детей, лучше всего отдают кредит, доля должников здесь составляет всего 7,5%, хуже обстоит дело с кредиторами, кто имеет одного или двух детей, здесь доля невозврата составляет соответственно 9,2% и 9,4%. По остальным категориям выборка небольшая, поэтому сравнение не проводилось.

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [44]:
# создание сводной таблицы по семейному положению и доле задолженности:
data_pivot_status = data.pivot_table(index='family_status', values='debt', aggfunc=['sum','count','mean']).reset_index().droplevel(1, axis=1)
data_pivot_status['mean'] *= 100

data_pivot_status

           family_status  sum  count      mean
0  Не женат / не замужем  273   2796  9.763948
1              в разводе   84   1189  7.064760
2         вдовец / вдова   63    951  6.624606
3       гражданский брак  385   4134  9.313014
4        женат / замужем  927  12261  7.560558

**Вывод:** Люди с семейным положением "женат/замужем" имеют низкую долю задолженности по кредитам - 7,5%, хуже обстоит дело с кредиторами, которые имеют статус "гражданский брак" или "не женат/не замужем", здесь доля невозврата составляет соответственно 9,3% и 9,8%. По остальным категориям выборка небольшая, поэтому сравнение не проводилось.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [45]:
# создание сводной таблицы по категории дохода и доле задолженности:
data_pivot_category = data.pivot_table(index='total_income_category', values='debt', aggfunc=['sum','count','mean']).reset_index().droplevel(1, axis=1)
data_pivot_category['mean'] *= 100

data_pivot_category

  total_income_category   sum  count      mean
0                     A     2     25  8.000000
1                     B   354   5014  7.060231
2                     C  1353  15921  8.498210
3                     D    21    349  6.017192
4                     E     2     22  9.090909

**Вывод:** Люди с доходом категории "B" (выше среднего) лучше всего отдают кредит, доля задолженности - 7,1%, люди с доходом категории "C" (средний доход) хуже платят, доля задолженности - 8,5%. По остальным категориям выборка небольшая, поэтому сравнение не проводилось.

### Как разные цели кредита влияют на его возврат в срок?

In [46]:
# создание сводной таблицы по цели кредита и доле задолженности:
data_pivot_purp_category = data.pivot_table(index='purpose_category', values='debt', aggfunc=['sum','count','mean']).reset_index().droplevel(1, axis=1)
data_pivot_purp_category['mean'] *= 100

data_pivot_purp_category

           purpose_category  sum  count      mean
0    операции с автомобилем  400   4279  9.347978
1  операции с недвижимостью  780  10751  7.255139
2     получение образования  369   3988  9.252758
3        проведение свадьбы  183   2313  7.911803

**Вывод:** Чаще платят за кредит те люди, которые его берут на операции с недвижимостью или проведение свадьбы, 7,3% и 7,9% соответственно. Хуже отдают долг те, кто берут кредит на машину или получение образования: 9,3% и 9,3% соответственно.

## Общий вывод:

- Есть зависимость между количеством детей и возвратом кредита в срок: люди, которые не имеют детей, лучше всего отдают кредит, доля должников здесь составляет всего 7,5%, хуже обстоит дело с кредиторами, кто имеет одного или двух детей, здесь доля невозврата составляет соответственно 9,2% и 9,4%.
- Есть зависимость между семейным положением и возвратом кредита в срок: люди с семейным положением "женат/замужем" имеют низкую долю задолженности по кредитам - 7,5%, хуже обстоит дело с кредиторами, которые имеют статус "гражданский брак" или "не женат/не замужем", здесь доля невозврата составляет соответственно 9,3% и 9,8%.
- Есть зависимость между уровнем дохода и возвратом кредита в срок: люди с доходом категории "B" (выше среднего) лучше всего отдают кредит, доля задолженности - 7,1%, люди с доходом категории "C" (средний доход) хуже платят, доля задолженности - 8,5%.
- Разные цели кредита влияют на его возврат в срок: чаще платят за кредит те люди, которые его берут на операции с недвижимостью или проведение свадьбы, 7,3% и 7,9% соответственно. Хуже отдают долг те, кто берут кредит на машину или получение образования: 9,3% и 9,3% соответственно.

**Рекомендации по модели кредитного скоринга:**

1. Учитывать данные по количеству детей, семейному положению, доходу, целям кредита.
2. Увеличить количество баллов рейтинга заемщика людям без детей, женатым/замужним людям, с доходом "выше среднего" (кат. "В"), с целями на операции с недвижимостью или проведение свадьбы.
3. Уменьшить количество баллов рейтинга заемщика людям с 1-2 детьми, тем, кто имеет семейное положение "гражданский брак" или "не женат/не замужем", заемщикам со средним доходом (кат. "C"), а также тем, кто берет кредит на машину или образование.